.player {

    &__img {
        width: 108px;
        height: 60px;
        margin-right: 5px;
        cursor: pointer;
    }

    &-text {
        text-align: center;
    }
}

@media screen and (min-width: 35.5em) {

    .player {

        &__img {
            width: 227.61px;
            height: 128px;
        }
    }

}