.header {

    display: flex;
    justify-content: space-between;
    height: 68px;
    padding: 0 26px;

    &__empty {
        width: 42%;
    }

    &__item {
        display: flex;
        align-items: center;
    }

}