<div class="top-menu">
    <div>
        <div class="logo"></div>
    </div>
    <div class="top-menu__primary">
        <div class="top-menu__primary--item">Início</div>
        <div class="top-menu__primary--item">Séries</div>
        <div class="top-menu__primary--item">Filmes</div>
        <div class="top-menu__primary--item">Mais recentes</div>
        <div class="top-menu__primary--item">Minha lista</div>
    </div>
    <div class="top-menu__secondary"></div>
    <div class="top-menu__third">
        <div class="top-menu__third--item">
            <i class="material-icons">
                search
            </i>
        </div>
        <div class="top-menu__third--item">
            <i class="material-icons">
                card_giftcard
            </i>
        </div>
        <div class="top-menu__third--item">
            <i class="material-icons">
                notification_important
            </i>
        </div>
        <div class="top-menu__third--item">
            <i class="material-icons">
                account_circle
            </i>
        </div>
    </div>
</div>