<div class="top-menu">
    <app-logo [page]="page"></app-logo>
    <app-first-item [item]="item" class="top-menu__first"></app-first-item>
    <div class="top-menu__secondary"></div>
    <div class="top-menu__third">
        <div class="top-menu__third--item">
            <i class="material-icons">
                search
            </i>
        </div>
        <div class="top-menu__third--item">
            <i class="material-icons">
                card_giftcard
            </i>
        </div>
        <div class="top-menu__third--item">
            <i class="material-icons">
                notification_important
            </i>
        </div>
        <div class="top-menu__third--item">
            <i class="material-icons">
                account_circle
            </i>
        </div>
    </div>
</div>