<div class="carousel" *ngFor="let i of carousel">
    <div class="carousel__header">
        <div class="carousel__title">
            {{ i.title }}
        </div>
    </div>
    <div class="carousel__content">
        <div *ngFor="let a of i.movies">
            <app-player [source]="['carousel']" [movie]="a.name" [imagePath]="a.imagePath">play</app-player>
            <img src="/assets/img/recently/player/{{ a.name }}.jpg" class="carousel__recently" id="carousel__recently-{{ a.name }}">
        </div>
    </div>
</div>