.login {

    width: 100%;
    height: 100%;
    background-image: url('../../../assets/img/background.jpg');

    &__input {
        border-radius: 4px;
        border: 0;
        background: #333;
        color: #fff;
        height: 46px;
        text-align: center;
        margin-bottom: 16px;
    }

    &__entrar {
        color: #fff;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 28px;
    }

    &__container {
        display: flex;
        justify-content: center;
        margin-bottom: 50PX;
    }

    &__container-content {
        background-color: rgba(0, 0, 0, 0.75);
        padding: 68px;
        width: 314px;
        height: auto;
        border-radius: 4px;
    }

}