.login-options {
    display: flex;
    justify-content: space-between;

    &__option {
        color: #b3b3b3;
        font-size: 13px;
        font-weight: 500;

        input {
            margin-right: 1px;
        }
    }

}