.header {
    
    &-logo-box {
        float: left;
        display: flex;
        justify-content: center;
    }

    &-firstItem {
        display: none;
        height: 68px;
    }

    &__item {
        color: white;
        padding: 10px;
        font-size: 12px;
        white-space: nowrap;
        font-weight: bold;
        cursor: pointer;
    }

    &-secondaryItem {
        display: none;
        height: 68px;
    }

    &-logo {
        cursor: pointer;
        background-image: url('../../../assets/img/logo.png');
        background-repeat: no-repeat;
    
        &__home {
            width: 130px;
            height: 68px;
            background-size: 130px;
        }
    
        &__login {
            width: 233px;
            height: 115px;
            background-size: 108%;
        }
    }

    height: 68px;
    padding: 0 26px;

    &__empty {
        width: 42%;
    }

}

@media screen and (min-width: 35.5em) {

    .header {
        &-firstItem {
            display: block;
            display: flex;
            align-items: center;
        }

        &-secondaryItem {
            display: flex;
            align-items: center;

            &__item {
                margin-left: 20px;
                font-size: 21px;
                color: white;
                cursor: pointer;
            }

        }
    }

}