<div class="pure-u-1 footer">
    <footer class="footer-container">
        <div class="pure-u-1 footer-text">Dúvidas? Ligue 0800-761-4631</div>
        <div class="pure-u-1 footer-text">
            <div class="pure-u-1-4 footer-terms">Termos dos Cartões</div>
            <div class="pure-u-1-4 footer-terms">Termos de uso</div>
            <div class="pure-u-1-4 footer-terms">Declaração de privacidade</div>
            <div class="pure-u-1-4 footer-terms">Termos de uso</div>
        </div>
    </footer>
</div>