.close {
    z-index: 101;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    cursor: pointer;
    
    > i {
        font-size: 50px;
        color: white;
    }
}