.logo {
    background-image: url('../../assets/img/logo.png');
    background-repeat: no-repeat;

    &__home {
        width: 130px;
        height: 68px;
        background-size: 130px;
    }

    &__login {
        width: 233px;
        height: 115px;
        background-size: 108%;
    }
    
}