<app-header></app-header>
<div class="profile pure-g">
    <div class="pure-u-1-2">
        <div class="pure-u-1-2">
            <div class="profile__picture"></div>
        </div>
        <div class="pure-u-1-2">
        <div class="profile-name profile__text">
            Olá, Marielle Franco
        </div>
        <div class=" profile-email profile__text">
            <div>mariellepresente@gmail.com</div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="pure-u-1 profile-last profile__text">
        <div>Seus últimos 5 filmes assistidos:</div>
        <div>Matrix - 16/03/2020 13:14</div>
        <div>Cheech e Chong - 12/03/2020 02:42</div>
        </div>
    </div>
</div>