<app-header></app-header>
<div class="profile pure-g">
    <div class="profile__container pure-u-1-2">
        <div class="profile__container-content">
                <div class="pure-u-1 profile__picture">
                    <div class="profile__picture-img"></div>
                </div>
                <div class="pure-u-1">
                    <div class="profile-name profile__text">
                        Olá, Sofia Mombach
                    </div>
                    <div class=" profile-email profile__text">
                        <div>sofiamombach@gmail.com</div>
                    </div>
                </div>
        </div>
    </div>
    <div class="profile__container pure-u-1-2">
        <div class="profile__container-content">
            <div class="pure-u-1">
                <div class="profile__last profile__text">
                    <div class="profile-watched">ASSISTIDOS RECENTEMENTE</div>
                    <div class="profile__last-item">Cheech e Chong - 12/03/2020 - 02:42</div>
                    <div class="profile__last-item">Prison Break - 16/03/2020 - 13:14</div>
                    <div class="profile__last-item">Breaking Bad - 16/03/2020 - 13:14</div>
                    <div class="profile__last-item">Walking Dead - 16/03/2020 - 13:14</div>
                    <div class="profile__last-item">Orphan Black - 16/03/2020 - 13:14</div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>