.login-details {

    &__social {
        margin-top: 60px;
    }
    
    &__facebook {
        color: #737373;
        font-size: 13px;
        font-weight: 500;
        display: flex;
        align-items: center;

        &--icon {
            background-image: url('../../../assets/img/icons/fb.png');
            width: 20px;
            height: 20px;
            background-size: 100%;
            margin-right: 10px;
        }
    }

    &__assinatura {
        display: flex;
        align-items: center;
        color: white;

        &-new {
            color: #737373;
            font-size: 16px;
            font-weight: 500;
            margin-top: 16px;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }

    &__captcha {
        margin-top: 11px;
        font-size: 13px;
        color: #8c8c8c;
        margin-bottom: 85px;

        &-more {
            background-color: transparent;
            border: none;
            color: #0071eb;
            cursor: pointer;
            display: inline;
            font-family: inherit;
            font-size: inherit;
            padding: 0;
        }
    }

}