<div class="login-details__social">
    <div class="login-details__facebook pure-u-1">
        <div class="login-details__facebook--icon"></div>
        <div>Conectar com Facebook</div>
    </div>
    <div class="login-details__assinatura pure-u-1">
        <div class="login-details__assinatura-new">
            Novo por aqui?
            <a href="/">Assine agora</a>
        </div>
    </div>
</div>
<div class="login-details__captcha pure-u-1">
    Esta página é protegida pelo Google reCAPTCHA
    para garantir que você não é um robô.
    <div class="login-details__captcha-more">Saiba mais.</div>
</div>