.infos {
    color: white;
    font-size: 15px;

    &__header {
        text-align: center;
        margin: 20px;
        font-size: 19px;
        font-weight: bold;
    }

    &__item {
        padding: 10px 0;
        text-align: center;
        white-space: nowrap;

        &-value {
            margin-left: 10%;
        }

        &-content {
            padding-bottom: 10px;
            margin-bottom: 10px; 
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__container-content {
        padding: 4px;
        width: 90%;
        height: 13px;
        border-radius: 2px;
        background-color: #ff00a5;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}